 /* Sett bakgrunnsfarge på hele siden */
 body {
    background-color: #e9ecef;
  
  }

  /* Sett størrelsen på containeren og legg til litt padding */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 1%;
  }

  /* Sentrer overskriften og legg til litt ekstra margin på toppen */
  h1 {
    text-align: center;
    margin-top: 2rem;
    
  }

  /* Legg til litt padding og bakgrunnsfarge på skjemaet */
  form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
  }

  /* Sett størrelsen på input-feltene og legg til litt margin mellom feltene */
  input[type="text"],
  textarea {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }

  /* Legg til litt padding og bakgrunnsfarge på send-knappen */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  }

  /* Legg til hover-effekt på send-knappen */
  button[type="submit"]:hover {
    background-color: #0069d9;
  }

  /* Legg til bold font-weight på label-elementene */
  label {
    font-weight: bold;
  }

  nav ul {
    list-style-type: none; /* Fjerner punktene foran hvert element i navigasjonsmenyen */
    margin: 0; /* Fjerner margen rundt navigasjonsmenyen */
    padding: 0; /* Fjerner padding rundt navigasjonsmenyen */
  }
  
  nav li {
    display: inline-block; /* Setter elementene i navigasjonsmenyen ved siden av hverandre */
    margin-right: 20px; /* Legger til litt avstand mellom hvert element i navigasjonsmenyen */
  }
  
  nav li:last-child {
    margin-right: 0; /* Fjerner avstanden til høyre for det siste elementet i navigasjonsmenyen */
  }
  
  nav a {
    color: #ffffff; /* Setter farge på lenkene i navigasjonsmenyen */
    text-decoration: none; /* Fjerner understrekingen fra lenkene i navigasjonsmenyen */
  }
  header {
    background-color: #333; /* Setter bakgrunnsfargen for overskrift og navigasjonsmeny */
    color: #fff; /* Setter farge på teksten i overskriften og navigasjonsmenyen */
    padding: 20px; /* Legger til litt luft rundt innholdet i header */

  }

